footer
  .container.text-center
    p.pull-left © <span id="year"></span> Parvez M Robin, Inc. All Rights Reserved

  script.
    document.getElementById('year').innerText = new Date().getFullYear().toString()
