extends layout

block content
    .container
        .row
            .col
                form#payment-form(action='/charge' method='post')
                    .form-row
                        label(for='card-element')
                            | Credit or debit card
                        #card-element
                        #card-errors(role='alert')
                    button Submit Payment

block scripts
    script(src='https://js.stripe.com/v3/')

    script.
      const stripe = Stripe('pk_test_kwV21fUbKlo253t8eE9Ueq3u00wpvgE5Jc');
      var elements = stripe.elements({
        fonts: [
          {
            cssSrc: 'https://fonts.googleapis.com/css?family=Roboto',
          },
        ],
      });

      var card = elements.create('card', {
        iconStyle: 'solid',
        style: {
          base: {
            iconColor: '#c4f0ff',
            color: '#fff',
            fontWeight: 500,
            fontFamily: 'Roboto, Open Sans, Segoe UI, sans-serif',
            fontSize: '16px',
            fontSmoothing: 'antialiased',

            ':-webkit-autofill': {
              color: '#fce883',
            },
            '::placeholder': {
              color: '#87BBFD',
            },
          },
          invalid: {
            iconColor: '#FFC7EE',
            color: '#FFC7EE',
          },
        },
      });
      card.mount('#card-element');

      registerElements([card], 'col');

    // Add an instance of the card Element into the `card-element` <div>.
    card.mount('#card-element')
